html {
  background-image: url("./public/images/jony&hanna2.jpg");
  /* background-position:  top; */
  background-repeat: no-repeat;
  background-size: cover;
}

.header {
  display: flex;
  justify-content: right;
  width: 100%;
  min-height: 200px;
  font-family: "Indie Flower", cursive;
}

.header h1 {
  /* position: absolute; */
  font-weight: bold;
  font-size: 1.5em;
  padding-bottom: 3%;
  /* left: 1%; */
}

.header a {
  font-weight: 100;
  color: black;
  font-size: 2.5em;
  text-decoration: none;
  padding: 3%;
}

.header .menu {
  position: absolute;
  top: 50px;
}

.jony {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.pic {
  display: flex;
  flex-basis: 25%;
}

.about {
  display: flex;
  flex-basis: 75%;
}

.education {
}

.experience {
}

.projects {
}

.footer {
  position: absolute;
  bottom: 0;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
